    {% extends "base.html" %}
    {% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>About Us</title>
    </head>
    <body>
        <div id="About_">
            <h3>Bridges serve as vital infrastructural elements, connecting people and facilitating economic growth. However, their deterioration due to aging, environmental conditions, and increasing loads poses significant safety and operational risks. Addressing this critical issue, the Sethusamarthya system has been designed as an innovative solution to analyse and predict the quality of bridges, ensuring safety, operational efficiency, and data-driven decision-making for maintenance.</h3>
        </div>
        <div id="About_us">
            <a href="https://github.com/Divyansh1217">Divansh Aggarwal</a>
            <a href="https://github.com/anandsight_004">Anand Singh</a>
            <a href="https://github.com/arymannair20203">Aryaman Nair</a>

        </div>
    </body>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    </html>
    {% endblock %}